@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root {
    --gray: #93a5be;
    --gray-dark: #525480;
    --primary: #FFA100;
    --secondary: #2EC4B6;
    --dark: #221D23;
}

h1, h2, h3, h4, h5, h6, span, a {
    font-family: "Poppins", sans-serif !important;
    text-decoration: none !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-primary:hover {
    color: var(--primary) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.navbar-brand:hover {
    color: var(--primary) !important;
}

.navbar-toggler svg {
    color: var(--primary) !important;
}

.neomorphic {
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2),
        -3px -3px 6px 0 rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.neomorphic:hover, .neomorphic:focus, .neomorphic:active, .neomorphic:target {
    box-shadow: inset 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.2),
        inset -1.5px -1.5px 3px 0 rgba(255, 255, 255, 0.5) !important;
}

.neomorphic--disabled {
    border-radius: 10px;
    box-shadow: inset 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.2),
        inset -1.5px -1.5px 3px 0 rgba(255, 255, 255, 0.5);
}

.header {
    background-image: url("Header_Illustration.svg");
    background-size: cover;
}