@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root {
    --gray: #93a5be;
    --gray-dark: #525480;
    --primary: #FFA100;
    --secondary: #2EC4B6;
    --dark: #221D23;

    --primary-desat: rgba(255, 159, 28, 0.2);
    --secondary-desat: rgba(61, 214, 208, 0.2);
    --tertiary-desat: rgba(112, 0, 255, 0.2);
    --quartiary-desat: rgba(255, 62, 214, 0.2);
}

h1, h2, h3, h4, h5, h6, span, a {
    font-family: "Poppins", sans-serif !important;
    text-decoration: none !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-primary:hover {
    color: var(--primary) !important;
}

.text-gray {
    color: var(--gray) !important;
}

.text-gray-dark {
    color: var(--gray-dark) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-primary-desat {
    background-color: var(--primary-desat) !important;
}

.bg-secondary-desat {
    background-color: var(--secondary-desat) !important;
}

.bg-tertiary-desat {
    background-color: var(--tertiary-desat) !important;
}

.bg-quartiary-desat {
    background-color: var(--quartiary-desat) !important;
}

.bg-gray {
    background-color: var(--gray) !important;
}

.navbar-brand:hover {
    color: var(--primary) !important;
}

.navbar-toggler svg {
    color: var(--primary) !important;
}

.neomorphic {
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2),
        -3px -3px 6px 0 rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.neomorphic:hover, .neomorphic:focus, .neomorphic:active, .neomorphic:target {
    box-shadow: inset 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.2),
        inset -1.5px -1.5px 3px 0 rgba(255, 255, 255, 0.5) !important;
}

.neomorphic--disabled {
    border-radius: 10px;
    box-shadow: inset 1.5px 1.5px 3px 0 rgba(0, 0, 0, 0.2),
        inset -1.5px -1.5px 3px 0 rgba(255, 255, 255, 0.5);
}

.header {
    background-image: url("Header_Illustration.svg");
    background-size: cover;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .display-1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 576px) {
    .display-1 {
        font-size: 2rem;
    }
    .header {
        min-height: 30vh;
    }
}

.card {
    border: none;
}